<div class="form-group">
    <label class="control-label"> Boxer1:
        <input class="form-control" type="text" ng-model="match.Boxer1">
    </label>
</div>
<div class="form-group">
    <label class="control-label"> Boxer2:
        <input class="form-control" type="text" ng-model="match.Boxer2">
    </label>
</div>
<div class="form-group">
    <label class="control-label"> Place:
        <input class="form-control" type="text" ng-model="match.Place">
    </label>
</div>
<div class="form-group">
    <label class="control-label"> DateOfMatch:
        <input class="form-control" type="text" ng-model="match.DateOfMatch">
    </label>
</div>
<div class="form-group">
    <label class="control-label"> Dsecription:
        <input class="form-control" type="text" ng-model="match.Dsecription">
    </label>
</div>

<button class="btn btn-success" ng-click="save()">Save</button>